body{
    background-color: bisque;
}

.image {
   /* background: url(./background_image.jpg) no-repeat; */
   height: 850px;
   width: 850px;
   position: absolute;
   left: 30%;
   background-size: 850px;
   background-position: 0 -30px;
   border-radius: 850px;
}

#quizbox {
    
}